@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Todos os dados inseridos aqui serão utilizados para inscrições como mesários eleitorais. Então se prepare porque vem ai....</p>
